.explanation {
	font-size: 0.75em;
	font-style: italic;
}

.dcc-tooltip-bounding-box {
	z-index: 99;
	position: fixed !important;
	top: 100px !important;
	right: 320px !important;
	left: unset !important;
	white-space: break-spaces;

	#plant-tooltip {
		transform: none !important;
		max-width: 300px;
		word-wrap: break-word;

	}
}
.dropdown-container{
	font-size: 14px;
}
.checklist-container{
	font-size: 14px;
}
.slider-container{
	min-width: 300px;
	.range-slider {
		padding-top: 15px !important;
	}
}
.card-section{
	.range-slider{
		min-width: 250px;
		padding-left: 0 !important;
	}
	label{
		padding-bottom: 5px;
	}
	label +.range-slider{
		margin-top: 10px !important;
	}
}
.range-slider {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.col{
	@extend .pad-50-hor;
}

.info-box{

}
.card-title {
	margin-left: -30px;
	margin-right: -30px;
	margin-top: -30px;
	padding: 20px 30px 10px 30px;
	background: #658cab;
	color: white;
	line-height: 1;

	button {
		margin-bottom: 0 !important;
		border: 1px solid white;
	}

	> h3 {
		color: white;
		margin: 0 !important;
		line-height: 1;
		font-size: inherit !important;
	}
	+.info-box{
		margin-left: -30px;
		margin-right: -30px;
		margin-top: -10px;
		background: #658cab;
		padding: 10px 30px;
		color: white;
	}
}

.info-label {
	border: 1px solid #ffffff44;
	padding: 8px;
	border-radius: 4px;
	font-weight: bold;

	.hint {
		opacity: .7;
		font-weight: normal;
		font-size: .8em;
		font-style: italic;
	}
}